// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --color-primary-light: #a47bfa;
    --color-primary-dark: #8959fa;
    --color-modal-background: #2b174b;
    --color-white-light: #ffffff;
    --color-white-dark: #838383;
    --color-gold: #c69963;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .7);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-white-dark);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0!important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: var(--color-white-light);
    box-shadow: var(--shadow-dark);
    flex-direction: column;
    min-height: calc(100vh - 150px);
    max-height: calc(100vh - 150px);
    min-width: calc(100vw - 50px);
    margin-bottom: 75px;
    overflow-y: auto;
}

.auth-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    display: flex;
}

.auth-page form {
    position: relative;
    z-index: 1;
    background-color: var(--color-modal-background);
    background-position: center;
    background-size: cover;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 5px 0 rgba(0, 0, 0, 0.2);
}

.auth-page form input {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: var(--color-white-light);
    width: 100%;
    border: 0;
    margin: 0 0 15px!important;
    box-sizing: border-box;
    font-size: 14px;
}
